.choose {
    padding: 4rem;
}

.aboutcoursesection {
    padding: 3rem;
}

.Aboutcoursepart {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Aboutcourseline {
    text-align: left;
}

.headertopline h1 {
    color: white;
}

.headertopline small {
    color: white;
}

.buttonexpo {
    background-color: rgb(254, 103, 82);
    color: white;
    border: none;
    margin-top: 20px;
}

.reading img {
    width: 600px;
    border-radius: 3px;
}