.footersection {
    background-color: rgb(37, 91, 79);
    padding: 4rem;
}

.footercontent {
    display: flex;

    justify-content: space-between;
    color: white;
}

.content {
    text-align: left;
    width: 25%;
}

.content p {
    line-height: 3rem;
    font-weight: 100;

}

/* .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
} */
.search {
    padding: 2rem 0rem;
}

.search input {
    height: 2.5rem;
    border-radius: 25px;
    border: none;
    padding: 1rem;
    width: 100%;
}

.search button {
    position: relative;
    /* right: 4.2rem; */
    border: none;
    top: -2rem;
    left: 12rem;
    background: rgb(255, 103, 82);
    border-radius: 25px;
    color: white;
}